<!DOCTYPE html>
<html>
  <head>
    <title>ExamenDocumentosDigitales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div>
      <% if signed_in? %>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li><%= link_to 'Inicio', root_path  %></li>
              <li><%= link_to 'Registrar sucursal', new_sucursal_path %></li>
              <li><%= link_to 'Registrar Empleado', new_empleado_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out"></span> Salir
                <% end %>
              </li>
            </ul>
          </div>
        </nav>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
